.erro-container {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 25px;
  border: 1px solid var(--border-color);
  background-color: #ffffff1c;
  margin: 50px;
  padding: 30px;
  gap: 20px;
}

.erro-container .erro-body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.erro-container .erro-body img {
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.erro-container .erro-body .message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.erro-container .erro-body .message span {
  color: #cacaca;
}

.erro-container .erro-btn {
  padding: 10px 20px;
  background-color: #cacaca;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.erro-container .erro-btn:hover {
  background-color: #fff;
}
