* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
  --border-color: #d5d5d54d;
  --border-dark-color: #ababab78;
  --link-color: #44fbb2;
  --selection-bg-color: #626262b0;
  --color-blue: #307aba;
  --color-red: #8e4b4b;
}

body {
  background: linear-gradient(180deg, var(--color-blue), var(--color-red));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 0 0;
  max-width: 1000px;
  width: 100%;
}

::selection {
  background-color: var(--selection-bg-color);
}

.hidden {
  display: none !important;
}

img.invert {
  filter: invert(100%);
}

@media screen and (max-width: 1200px) {
  #root {
    margin: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  #root {
    margin: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  #root {
    margin: 0 20px;
  }
}

.animate {
  animation: fadeAndMove 0.8s ease-in-out forwards;
}

@keyframes fadeAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
