* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

:root {
  --border-color: #d5d5d54d;
  --border-dark-color: #ababab78;
  --link-color: #44fbb2;
  --selection-bg-color: #626262b0;
  --color-blue: #307aba;
  --color-red: #8e4b4b;
}

body {
  background: linear-gradient(180deg, var(--color-blue), var(--color-red));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 0 0;
  max-width: 1000px;
  width: 100%;
}

.wrapper .box {
  width: 100%;
  background-color: #3636361f;
  border-radius: 25px;
  padding: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.wrapper .box button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #e1e1e1;
  flex-grow: 1;
  transition: ease-in 0.3s;
  font-weight: bold;
  letter-spacing: 0.4pt;
  height: 100%;
}

.wrapper .box button:hover {
  background-color: #fff;
}

::selection {
  background-color: var(--selection-bg-color);
}

.hidden {
  display: none !important;
}

img.invert {
  filter: invert(100%);
}

@media screen and (max-width: 1200px) {
  #root {
    margin: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  #root {
    margin: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  #root {
    margin: 0 20px;
  }
}

.animate {
  animation: fadeAndMove 0.8s ease-in-out forwards;
}

@keyframes fadeAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
