.detalhes {
  max-width: 1000px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detalhes .hoje {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  letter-spacing: 0.4pt;
  gap: 70px;
  flex-wrap: wrap;
}

.detalhes .hoje .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detalhes .hoje .info span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.detalhes .hoje .clima {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: 1px solid var(--border-dark-color);
  padding: 0 70px 0 0;
}

.detalhes .hoje .clima .temperatura {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.detalhes .hoje .clima span {
  font-size: 40px;
  font-weight: bold;
}

.detalhes .hoje p {
  font-size: 20px;
  color: #cacaca;
}

.detalhes .hoje .temperatura p {
  text-transform: capitalize;
}

.detalhes .adicional {
  width: 100%;
  height: auto;
  background-color: #3636361f;
  border-radius: 25px;
  padding: 30px;
}

.detalhes .adicional .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 10px;
  color: #fff;
  flex-wrap: wrap;
}

.detalhes .adicional .container .card {
  padding: 20px 25px;
  background-color: #3636361f;
  border-radius: 25px;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.detalhes .adicional .container .card:hover {
  background-color: rgba(168, 168, 168, 0.122);
  transition: background-color 0.3s ease-in;
}

.detalhes .adicional .container .card img {
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.detalhes .adicional .container .card .card-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detalhes h1 {
  font-size: 28px;
  letter-spacing: 0.4pt;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0 0 20px 0;
}

.hourly-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, auto));
  margin-top: 30px;
}

.hour-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}

.hour-item:not(:last-child) {
  border-bottom: 1px solid var(--border-dark-color);
}

.hour-item span {
  font-weight: bold;
  font-size: 18px;
}

.hour-item img {
  height: 64px;
  width: 64px;
  margin: 10px 0;
}

.hour-item p {
  color: #cacaca;
}

@media screen and (max-width: 800px) {
  .detalhes {
    padding: 0;
  }
  .detalhes .hoje {
    flex-direction: column;
    gap: 30px;
  }
  .detalhes .hoje .clima {
    padding: 0 0 30px 0;
    border-right: 0px;
    border-bottom: 1px solid var(--border-dark-color);
  }
  .detalhes .hoje .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hour-item:not(:last-child) {
    border-bottom: 1px solid var(--border-dark-color);
  }
}
